<% provide(:title) %>


<div class = "card-bg" >

  <div class = "email">
    <%= form_for(@user) do |f| %>

   		<%= render 'shared/error_messages' %>

      <%= f.label :email %>
      <%= f.text_field :email %>



      <%= f.submit "GIVE ME A SECOND CHANCE", class: "btn-custom" %>
    <% end %>

  </div>
  </div>
